.fakeButton {
    background-color: #F6F6F6;
    background-image: -moz-linear-gradient(center top, #F6F6F6 10%, #D5D5D5 90%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #d5d5d5));
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #7C7C7C;
    border-radius: 1px 1px 1px 1px;
    color: #434343;
    cursor: pointer;
    font-weight: normal;
    padding: 3px;
    font-size: 11px;
    text-decoration: none !important;
    min-width: 70px;
    display: inline-block;
    text-align: center;
}

.fakeButton:hover {
    background-color: #C8C8C8;
    background-image: -moz-linear-gradient(center top , #F6F6F6 10%, #BDBCBC 90%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.1, #f6f6f6), color-stop(0.9, #BDBCBC));
}

.t3-row-header {
    background-color: #666;
    padding: 6px;
}

.t3-row-header a,.t3-row-header a:hover {
    color: #fff;
}